@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #5a5a5a;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}

/*------------------------------------------------------------------------ Colours */

.text-navy {
    color: #2e3c72;
}

.btn-outline-navy {
    border-color: #2e3c72;
}

.btn-outline-navy:hover,
.btn-outline-navy:focus,
.btn-outline-navy:active,
.btn-outline-navy.active,
.open>.dropdown-toggle.btn-outline-navy {
    color: #fff;
    background-color: #2e3c72;
    border-color: #2e3c72;
    /*set the color you want here*/
}


/*---------------------------------------------------------------------------- Nav */

.nav-font {
    font-family: 'Belleza', sans-serif;
    letter-spacing: 2px;
}

/* =========== Display dropdown on hover =========== Src: https://codepen.io/beetnk/pen/LdVJBa  */

.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-hover-navy {
    color: white;
}

.dropdown-hover-navy:hover {
    color: #2e3c72;
}

/*----------------------------------------------- Special paddings/margins/text/images */

.lower-nav-z-index {
    z-index: 1;
}

.upper-nav-z-index {
    z-index: 2000;
    margin-bottom: 0px;
}

.book-button {
    margin-top: 20px;
}

.our-story {
    margin-bottom: 10em;
}

.lh-3 {
    line-height: 1.7em;
}


.letter-spacing {
    letter-spacing: 1.5px;
}

.link {
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: #5a5a5a;
    transition: transform .2s;
}

a:hover {
    color: #2e3c72;
    text-decoration: none;
}

/* Fix navbar covering anchor section */

#our-story::before {
    height: 80px;
    content: "";
    display: block;
}

#booking-section::before {
    height: 70px;
    content: "";
    display: block;
}

#contact-section {
    padding-top: 5em;
}

/* ----------------------------- */


.translate-y {
    transition: transform .2s ease-in-out;
}

.translate-y:hover {
    transform: translateY(-5px);
}

/* =============== Lines before/after Opening Hour Text =============== Src: https://stackoverflow.com/questions/23584120/line-before-and-after-title-over-image */

#opening {
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight: 300;
    color: #5368b9;
}

#opening:before,
#opening:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 2px solid;
}

#opening:after {
    margin: 0 -55% 0 .5em;
}

/*---------------------------------------------------------------- Image / Adjustments */


.underline {
    width: 50%;
}

.feature {
    width: 100%;
    margin-bottom: 3em;
}

.cover {
    overflow: auto;
    position: relative;
    background-image: url(../images/booking-section-bg-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}


/* =============== Rotating Image =============== Src: https://jsfiddle.net/gionaf/Ugc5g/ */
.circle {
    position: absolute;
    left: 23%;
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    z-index: 2000;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*------------------------------------------- Heading */

.jumbotron {
    height: 90vh;
    min-height: 600px;
    z-index: 100;
    margin-top: -100px;
    margin-bottom: 7em;
    position: relative;
    background-image: url(../images/blue-room-hero-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.navbar-logo {
    height: 60px;
}

.hero-logo {
    display: block;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22vh;
    width: 1000px;
    max-width: 80%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.bg-transparent {
    background: transparent;
}

.navbar-trans {
    background: transparent;
}


/*------------------------------------------- Booking Section */


/* Solution for curved border edge remove https://stackoverflow.com/questions/5780109/removing-rounded-corners-from-a-select-element-in-chrome-webkit */

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

/* ----------------------------- */


.booking-background {
    background-color: white;
    max-width: 1110px;
    margin: auto;
}

.opening-hours {
    max-width: 1110px;
    margin: auto;
}

.form-control {
    color: rgba(90, 90, 90, .9);
}

.form-control:focus {
    border-color: #FFFFFF;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 2px #80a7ce;
    color: rgba(90, 90, 90, .9);

}

.light-blue {
    color: #80a7ce;
}


/*------------------------------------------- Events Gallery */

/* Fix image responsiveness in cards Source: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width*/
.embed-responsive {
    object-fit: cover;
}

.arrow {
    padding-right: 10px;
}

.arrow:hover {
    padding-right: 20px;
}

.navy-border {
    border-width: 2px;
    border-color: #80a7ce;
}

.navy-border:hover {
    border-width: 2px;
    border-color: #80a7ce;
}

.page-link {
    color: #80a7ce;
}

.page-link:hover {
    color: #2e3c72;
}


/*------------------------------------------- Newsletter */

.newsletter-signup {
    background-color: #2e3c72;
}

.newsletter-signup h3 {
    color: #fff;
}

.newsletter-signup p {
    color: rgba(255, 255, 255, .6);
}

.newsletter-signup .btn {
    color: #ffffff;
    background-color: #80a7ce;
}

.newsletter-signup .btn:hover {
    background-color: #5368b9;
}

#newsletter {
    margin-bottom: 6%;
}

/*------------------------------------------- Map */

.map-responsive {
    overflow: hidden;
    position: relative;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#map {
    height: 420px;
}

#map .row {
    margin: 0;
    padding: 0;
}


/*------------------------------------------- Menu Page */


.price {
    float: right;
}

.menu-page-image {
    height: 100vh;
    position: fixed;
    width: 50%;
    overflow: hidden;
    z-index: -100;
}

.allergen {
    border: 4px dotted #2e3c72;
}

.allergen h3 {
    color: #2e3c72;
}

.allergen li {
    color: #5a5a5a;
    line-height: 1.8em;
}


/*------------------------------------------- Footer */


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*------------------------------------------- Media Queries */

@media only screen and (max-width: 1350px) {
    .hero-logo {
        margin-top: 26vh;
    }

    .upper-nav-z-index {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, .5);
        font-size: 16px;
        padding-right: 0;
        margin-right: 0;
    }

    .navbar-logo {
        height: 60px;
    }

}

@media only screen and (max-width: 1300px) {

    .lower-nav-z-index {
        z-index: 200;
    }

    .upper-nav-z-index {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .book-button {
        margin-top: 50px;
    }

    .navbar-light .navbar-nav .nav-link,
    .dropdown-item {
        font-size: 14px;
        padding: 15px 0;
    }

    .hero-logo {
        margin-top: 35vh;
    }

    .jumbotron {
        height: 80vh;
    }

    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        width: 100%;
    }

    .navbar-logo {
        height: 40px;
    }

    /* --- Fix Map Display on Mobile -- */
    .map-responsive {
        overflow: hidden;
        position: relative;
        height: 420px;
    }


}




@media only screen and (max-width: 576px) {
    .lower-nav-z-index {
        z-index: 200;
    }

    .upper-nav-z-index {
        display: none;
    }

    .hero-logo {
        margin-top: 40vh;
    }

    .navbar-light .navbar-nav .nav-link,
    .dropdown-item {
        font-size: 16px;
        padding: 15px 0;
    }

    #opening:before,
    #opening:after {
        border-bottom: 0px solid;
    }

}